/* Dark Blue(12, 43, 78)*/
/* Blue(26, 61, 100)*/
/* Navy Bluergb(29, 84, 108)*/
/* Light Gray(244, 244, 244)*/

body {
    background-image: url("../image-index/Deep.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    font-family: 'space grotesk', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(12, 43, 78);
    width: 100%;
    height: 70px;
}

.social a {
    margin: 0 15px;
}

.social {
    display: flex;
    margin-left: auto;
    margin-right: 20px;
}

img.logo {
    width: 60px;
}

.header .logo {
    margin-left: 80px;
}

.profile {
    justify-content: center;
    display: flex;
    width: 150px;
    border-radius: 200px;
}

.content {
    font-family: 'Audiowide', cursive;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    margin: auto;
    padding: 20px;
    color: rgb(244, 244, 244);
}

img {
    width: 50px;
    justify-content: left;
}

.weeks {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 80%;
    padding: 20px;
    gap: 20px;
}

.weeks div {
    background-color: rgb(244, 244, 244);
    opacity: 80%;
    border-radius: 20px;
    width: 300px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    color: rgb(29, 84, 108);
}

.weekend {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    width: 80%;
    padding: 20px;
    gap: 20px;
}

.weekend div {
    background-color: rgb(244, 244, 244);
    opacity: 80%;
    border-radius: 20px;
    width: 300px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    color: rgb(29, 84, 108);
}

.word {
    max-width: 75%;
}

.footer {
    background-color: rgb(12, 43, 78);
    width: 100%;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.socialfoot {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
    text-decoration: none;
    color: rgb(244, 244, 244);
}

.copyright {
    text-align: center;
    color: rgb(244, 244, 244);
    margin-bottom: 10px;
}

@media screen and (max-width: 1400px) {
    .weeks {
        flex-direction: column;
        align-items: center;
    }

    .weekend {
        flex-direction: column;
        align-items: center;
    }

    .weeks div {
        width: 90%;
    }

    .weekend div {
        width: 90%;
    }
}