.container {
    justify-content: center;
    align-items: center;
    font-family: 'space grotesk', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 8px;
}

.tabs a {
    text-decoration: none;
    font-size: 16px;
    color: black;
    font-weight: 400;
    margin: 20px
}

.tabs {
    display: flex;
    margin-left: auto;
    margin-right: 20px;
}

.request {
    padding: 12px 30px;
    border: solid 1px #191A23;
    color: black;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
}

img.home {
    width: 240px;
}

.header .home {
    margin-left: 80px;
}

.header .request {
    margin-right: 220px;
}

.content {
    display: flex;
    align-items: center;
    gap: 200px;
    align-self: flex-start;
    margin-right: 30px;
    margin-left: 80px;
    margin-top: 10px;
}

.content .text {
    display: flex;
    flex-direction: column;
}

.content .illustration {
    width: 600px;
    height: 515px;
    transform: translateY(20px);
}

.book {
    padding: 16px 25px;
    margin-right: auto;
    color: white;
    background-color: #191A23;
    text-decoration: none;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 20px;
}

.content .head {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 16px;
}

.content .subhead {
    line-height: 24px;
    font-weight: 400;
}

img.platform {
    display: block;
    margin-right: 190px;
    margin-top: 60px;
    max-width: 90%;
    height: auto;
}

head {
    font-family: 'Oxygen', sans-serif;
    font-weight: 4000;
    font-style: bold;
}

p {
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    font-style: normal;
}