.container {
    display: flex;
    flex-direction: column;
    font-family: 'space grotesk', sans-serif;
}

.tabs a {
    text-decoration: none;
    font-size: 16px;
    color: black;
    font-weight: 400;
    margin: 20px
}

.tabs {
    display: flex;
    margin-left: auto;
    margin-right: 20px;
}

.request {
    padding: 12px 30px;
    border: solid 1px #191A23;
    color: black;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
}

img.home {
    width: 240px;
}

.header .home {
    margin-left: 80px;
}

.header .request {
    margin-right: 220px;
}

.content {
    background-color: rgb(242, 242, 242);
    display: flex;
    align-items: center;
    margin-right: 30px;
    margin-left: 80px;
    margin-top: 10px;
    border-radius: 40px;
    gap: 20px;
}

.content .text {
    display: flex;
    flex-direction: column;
    padding: 50px;
    max-width: 400px;
}

.bottom {
    background-color: rgb(25, 26, 35);
    display: flex;
    align-items: center;
    gap: 200px;
    align-self: flex-start;
    margin-right: 30px;
    margin-left: 80px;
    margin-top: 10px;
    border-radius: 40px;
    padding: 40px 70px;
}

.bottom .text2 {
    color: white;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.content .head {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 16px;
}

.content .subhead {
    line-height: 24px;
    font-weight: 400;
}

.pic {
    width: 300px;
    margin-top: 50px;
    margin-left: 80px;
    margin-bottom: 50px;
}

.pic2 {
    width: 100px;
    margin-top: 20px;
}

head {
    font-family: 'Oxygen', sans-serif;
    font-weight: 4000;
    font-style: bold;
}

p {
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    font-style: normal;
}

.percent .number {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    flex-wrap: wrap;
    width: 45%;
    gap: 40px;

}

.number {
    width: calc(25% - 7.5px);
    padding: 30px;
    border-radius: 20px;
    background-color: white;
}

.number h2 {
    margin: 0;
    font-size: 45px;
    text-align: center;
}

.number p {
    text-align: center;
}

.text2 .head {
    color: black;
    background-color: yellowgreen;
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
}

.feat {
    width: 300px;
    display: none;
}

.pic3 {
    display: none;
}

.div .number {
    padding: 200px;
}

@media screen and (max-width: 700px) {
    .content {
        flex-direction: column;
        align-items: center;
        padding: 40px;
    }

    .tabs {
        display: none;
    }

    .request {
        display: none;
    }

    img.menu {
        display: block;
        margin-left: auto;
    }

    .bottom {
        flex-direction: column;
        align-items: center;
        padding: 40px;
        gap: 20px;
    }

    .pic2 {
        display: none;
    }

    .pic3 {
        display: block;
    }

    .img {
        flex-direction: column;
        width: 100%;
    }

    .head {
        display: none;
    }

    .feat {
        display: block;
    }
}