.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    width: 100%;
}

img.menu {
    display: none;
}

.tabs a {
    text-decoration: none;
    font-size: 16px;
    color: black;
    font-weight: 400;
    margin: 20px
}

.tabs :hover {
    color: chartreuse;
}

.tabs {
    display: flex;
    margin-left: auto;
    margin-right: 20px;
}

.request {
    padding: 12px 30px;
    border: solid 1px #191A23;
    color: black;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
}

.submenu {
    display: none;
    position: absolute;
    top: 20px;
    width: 300px;
    background-color: rgb(168, 186, 139);
    border-radius: 50px;
}

.menu-item {
    position: relative;
    margin: 20px;
}

.submenu a {
    display: block;
    padding: 5px;
}

.menu-item:hover .submenu {
    display: block;
}

@media screen and (max-width: 700px) {
    .tabs {
        display: none;
    }

    .request {
        display: none;
    }

    img.menu {
        display: block;
        margin-left: auto;
    }

}