body {
    margin: 20px;
}

.top.head {
    text-align: center;
}

.movie {
    display: flex;
}

.poster {
    width: 33%;
}

.poster img {
    width: 80%;
    border-radius: 20px;
    gap: 20px;
    align-content: space-evenly;
}

.poster h1 {
    position: relative;
    left: 100px;
    bottom: 80px;
    background-color: beige;
    width: fit-content;
    padding: 10px 20px 10px 20px;
}