body {
    margin: 20px;
}

.top {
    font-size: 20px;
    text-align: center;
}

.movie {
    display: flex;
}

.poster {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
}

.poster img {
    width: 80%;
    border-radius: 20px;
    gap: 20px;
}

.poster .more {
    color: darkblue;
    text-decoration: none;
}

.bat {
    position: relative;
    bottom: 80px;
    background-color: beige;
    text-align: center;
    width: 300px;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
}

.joker {
    position: relative;
    bottom: 80px;
    background-color: beige;
    text-align: center;
    width: 300px;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
}

.alien {
    position: relative;
    bottom: 80px;
    background-color: beige;
    text-align: center;
    width: 300px;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
}

.matrix {
    position: relative;
    bottom: 80px;
    background-color: beige;
    text-align: center;
    width: 300px;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
}

.spider {
    position: relative;
    bottom: 80px;
    background-color: beige;
    text-align: center;
    width: 300px;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
}

.marvel {
    position: relative;
    bottom: 80px;
    background-color: beige;
    text-align: center;
    width: 300px;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
}

@media screen and (max-width: 1300px) {
    .movie {
        flex-direction: column;
        align-items: center;
    }

    .poster img {
        width: 300px;
    }

    .bat,
    .joker,
    .alien {
        width: 400px;
    }
}