body {
    margin: 20px;
}

.top {
    font-size: 20px;
    text-align: center;
}

.movie {
    display: flex;
}

.poster {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
}

.poster img {
    width: 80%;
    border-radius: 20px;
    gap: 20px;
}

.bat {
    position: relative;
    bottom: 80px;
    background-color: beige;
    text-align: center;
    width: 300px;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
}

.joker {
    position: relative;
    bottom: 80px;
    background-color: beige;
    text-align: center;
    width: 300px;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
}

.alien {
    position: relative;
    bottom: 80px;
    background-color: beige;
    text-align: center;
    width: 300px;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
}