.container {
    display: flex;
    flex-direction: column;
    font-family: 'space grotesk', sans-serif;
}

img.home {
    width: 240px;
}

.header .home {
    margin-left: 80px;
}

.header .request {
    margin-right: 220px;
}

.content {
    background-color: rgb(242, 242, 242);
    display: flex;
    align-items: center;
    margin-right: 30px;
    margin-left: 80px;
    margin-top: 10px;
    border-radius: 40px;
    gap: 20px;
}

.content .text {
    display: flex;
    flex-direction: column;
    padding: 50px;
    max-width: 400px;
}

.bottom {
    background-color: rgb(25, 26, 35);
    display: flex;
    align-items: center;
    gap: 200px;
    align-self: flex-start;
    margin-right: 30px;
    margin-left: 80px;
    margin-top: 10px;
    border-radius: 40px;
    padding: 40px 70px;
}

.bottom .text2 {
    color: white;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.content .head {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 16px;
}

.content .subhead {
    line-height: 24px;
    font-weight: 400;
}

.pic {
    width: 300px;
    margin-top: 50px;
    margin-left: 80px;
    margin-bottom: 50px;
}

.pic2 {
    width: 100px;
    margin-top: 20px;
}

head {
    font-family: 'Oxygen', sans-serif;
    font-weight: 4000;
    font-style: bold;
}

p {
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    font-style: normal;
}

img {
    width: 150px;
    gap: 30px;
    border-radius: 50px;
    flex-wrap: wrap;
    justify-content: flex-end;
    alignment-baseline: center;
}

.text2 .head {
    color: black;
    background-color: yellowgreen;
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
}

.feat {
    width: 300px;
    display: none;
}

.pic3 {
    display: none;
}

@media screen and (max-width: 700px) {
    .content {
        flex-direction: column;
        align-items: center;
        padding: 40px;
    }

    .bottom {
        flex-direction: column;
        align-items: center;
        padding: 40px;
        gap: 50px;
    }

    .pic2 {
        display: none;
    }

    .pic3 {
        display: block;
    }

    .img {
        flex-direction: column;
    }

    .head {
        display: none;
    }

    .feat {
        display: block;
    }

    .number {
        width: 140px;
    }
}